/* ===== RESET E BASE ===== */
* {
    transition: 0.3s;
    color-scheme: light dark;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-align: center;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    margin-top: 10%;
}

a {
    color: var(--link-color);
}

a:hover {
    color: var(--link-hover);
    text-decoration: underline;
}

hr {
    margin: 5% 0;
}

li {
    cursor: pointer;
}

button{
    cursor: pointer;
}